.navWrapper {
    width: 1280px;
    margin: 5px;
    padding: 10px;
}

.right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #232C33;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
li {
    float: right;
  }
  
li a {
    display: block;
    color: #DADFF7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

li a:hover {
    background-color: rgb(134, 192, 190);
  }